* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.img {
  max-width: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  padding: 0 15px;

  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 40px 0;
  border-bottom: 5px solid #ffa200;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__img {
  width: 50px;
}

.header__title {
  font-weight: 700;
  font-size: 32px;
  margin-left: 20px;
}

.search {
  width: 40%;
  position: relative;
}

.search__input {
  border-radius: 50px;
  border: 1px solid #cbc9c9;
  height: 36px;
  padding: 0 35px 0 45px;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  outline: none;
  transition: all 0.3s;
  width: 100%;
}

.loupe {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 20px;
}

.loupe::after {
  font-size: 24px;
  font-weight: 700;
  content: '\26B2';
  display: inline-block;
  transform: rotate(-45deg);
  opacity: 0.5;
  transition: all 0.3s;
}

.loupe:hover::after {
  cursor: pointer;
  opacity: 0.7;
}

.cross {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.cross::after {
  content: '\2716';
  font-weight: 700;
  opacity: 0.5;
  transition: all 0.3s;
}

.cross:hover::after {
  cursor: pointer;
  opacity: 0.7;
}

.search__input:focus {
  box-shadow: 0 0 10px #cbc9c9;
}

.main__wrapper {
  margin-top: 20px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.gallery__item {
  width: 400px;
  margin: 0 20px;
}

.footer__wrapper {
  border-top: 5px solid #ffa200;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 20px 0;
  padding: 40px 0 10px;
}

.github,
.rss {
  width: 100px;
  transition: all 0.3s;
}

.github:hover,
.rss:hover {
  opacity: 0.5;
}

.year {
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 1068px) {
  .search {
    width: 50%;
  }
}

@media (max-width: 1367px) {
  .gallery__list {
    justify-content: space-around;
  }
}

@media (max-width: 668px) {
  .header__wrapper {
    flex-direction: column;
  }

  .search {
    margin-top: 20px;
  }
}

@media (max-width: 640px) {
  .search {
    width: 270px;
  }
}

@media (max-width: 490px) {
  .header__wrapper {
    margin: 0;
  }

  .gallery__item {
    max-width: 100%;
  }

  .github,
  .rss {
    width: 70px;
  }

  .footer__wrapper {
    margin: 20px 0 0;
  }
}
