* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  vertical-align: top;
  max-width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section__title {
  color: #0c0c0e;
  font-family: "Forum", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 20px 0;
  margin-bottom: 40px;
}

.section__title {
  position: relative;
}

.section__title:after {
  position: absolute;
  right: 27%;
  top: 50%;
  content: "\1\1\1\1";
  border-bottom: solid #0c0c0e 1px;
}

.none {
  display: none;
}

.burger-overflow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: 0;
}

.scroll-lock {
  overflow-y: hidden;
}

.header {
  background: #ffffff;
}

.header__wrapper {
  background: #0c0c0e;
  color: #ffffff;
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.header__title {
  width: 45%;
}

.header__subwrapper {
  width: 100%;
  display: flex;
}

.header__title {
  font-family: "Forum", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.menu {
  width: 100%;
  position: relative;
  z-index: 80;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 42px;
}

.burger {
  display: none;
}

@media (max-width: 1024px) {
  .burger {
    display: block;
    width: 45px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 40px;
    z-index: 200;
  }
  .burger span {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffff;
    margin-top: 10px;
    transition: all 1s;
  }
  .burger span:nth-child(1) {
    top: -10px;
  }
  .burger span:nth-child(3) {
    top: 10px;
  }
  .burger.burger-active span:nth-child(2) {
    top: 5px;
    transform: rotate(225deg);
    transition: all 1s;
  }
  .burger.burger-active span:nth-child(1) {
    top: 5px;
    transform: rotate(225deg);
    transition: all 1s;
  }
  .burger.burger-active span:nth-child(3) {
    top: 5px;
    transform: rotate(315deg);
    transition: all 1s;
  }
  .burger-active {
    height: 32px;
    bottom: 5px;
  }
  .menu {
    position: fixed;
    right: -1240px;
    z-index: 100;
    transition: all 1s;
    margin-top: -20px;
    width: 332px;
    height: 570px;
    background: #0c0c0e;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-active {
    right: 0;
  }
  .menu__list {
    position: absolute;
    flex-direction: column;
    margin-right: 7px;
    text-align: center;
  }
  .header__subwrapper {
    justify-content: flex-end;
  }
}
.header__img {
  margin-top: 11px;
  position: relative;
  z-index: 200;
}

.menu__link {
  position: relative;
}

.menu__link::after {
  position: absolute;
  content: "";
  left: 0;
  top: 110%;
  display: block;
  height: 1.5px;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  width: 0;
}

.menu__link:hover:after {
  width: 100%;
}

.header__icon {
  cursor: pointer;
  transition: all 0.5s;
}

.header__icon:hover {
  filter: invert(50%) sepia(100%);
}

.header__iconWrapper {
  position: relative;
}

.header__dropMenu {
  position: absolute;
  width: 80px;
  height: 115px;
  background: #fff;
  z-index: 100;
  right: 0;
  top: 40px;
  display: none;
  color: #000;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.dropMenu__title {
  padding: 5px 16px 0;
}

.dropMenu__line {
  margin: 5px 20px 0;
  width: 40px;
  height: 1px;
  background: #bb945f;
}

.dropMenu__textUp {
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.dropMenu__textDown {
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.dropMenu__textUp:hover,
.dropMenu__textDown:hover {
  color: #8e8e8e;
  transition: all 0.3s;
}

.regWindow {
  width: 250px;
  height: 382px;
  background: #fff;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
}

.regWindow-active {
  display: block;
}

.reg__input {
  border: 1px solid #bb945f;
  width: 200px;
  height: 20px;
  margin-top: 10px;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.reg__input:invalid {
  opacity: 0.5;
}

.reg__text {
  margin-left: 25px;
  color: #000;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.reg__text:first-child {
  margin-top: 20px;
}

.reg__text {
  margin-top: 10px;
}

.reg__title {
  color: #000;
  margin-left: 85px;
  font-family: "Forum", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-top: 20px;
}

.reg__btn {
  background: #fff;
  color: #0c0c0e;
  text-align: center;
  font-family: "Inter";
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  width: 75px;
  height: 30px;
  padding: 0;
  margin-left: 25px;
  margin-top: 21px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  transition: all 0.3s;
}

.reg__btn:hover {
  background: #bb945f;
  transition: 0.3s;
  border-color: #bb945f;
}

.reg__footer {
  color: #000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: "Inter";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 25px;
  margin-top: 10px;
}

.reg__footer span {
  color: #0c0c0e;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration-line: underline;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s;
}

.reg__footer span:hover {
  color: #8e8e8e;
  transition: all 0.3s;
}

.reg__closeIcon {
  position: relative;
  cursor: pointer;
  left: 46px;
  bottom: 7px;
  transition: all 0.3s;
}

.reg__closeIcon:hover {
  opacity: 0.5;
  transition: all 0.3s;
}

.blackout {
  background: rgba(5, 5, 5, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.6s;
  z-index: 250;
  opacity: 0;
}

.blackout_active {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.icon_profile-afterAuth {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  color: #bb945f;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__dropMenuAuth {
  position: absolute;
  width: 80px;
  height: 115px;
  background: #fff;
  z-index: 100;
  right: 0;
  top: 40px;
  display: none;
  color: #000;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.dropMenuAuth__title {
  padding: 5px 0px 0;
  font-size: 12px;
  text-align: center;
}

.dropMenu__line {
  margin: 5px 20px 0;
  width: 40px;
  height: 1px;
  background: #bb945f;
}

.dropMenuAuth__textUp {
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.dropMenuAuth__textDown {
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.dropMenuAuth__textUp:hover,
.dropMenuAuth__textDown:hover {
  color: #8e8e8e;
  transition: all 0.3s;
}

@keyframes dropMenu-visible {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 115px;
    opacity: 1;
  }
}
.dropVisible {
  animation: dropMenu-visible ease 0.3s;
  display: block;
}

@keyframes dropMenu-hidden {
  0% {
    height: 115px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
.dropHidden {
  animation: dropMenu-hidden ease 0.3s;
}

.profile-window {
  width: 600px;
  height: 400px;
  background: #fff;
  z-index: 100;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
}

.profile-window-active {
  display: flex;
}

.profile-window__left {
  background: #0c0c0e;
  min-width: 170px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rectangle-initials {
  width: 80px;
  height: 80px;
  background: #fff;
  margin-top: 139px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-initials__text {
  color: #bb945f;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.rectangle-name {
  width: 120px;
  min-height: 30px;
  background: #fff;
  margin-top: 15px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.rectangle-name__text {
  color: #000;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
}

.profile-window__right {
  width: 100%;
  height: 100%;
}

.profile-window__title {
  color: #000;
  font-family: "Forum";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 20px;
}

.profile-window__closeIcon {
  margin-left: 150px;
  position: relative;
  bottom: 16px;
}

.profile-window__closeIcon__img {
  cursor: pointer;
}

.profile-window__icon-box {
  margin-top: 40px;
  margin-left: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile-window__iconBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-box__text {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.icon-box__visits__count,
.icon-box__bonuses__count,
.icon-box__books__count {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-top: -1px;
}

.icon-box__icon {
  margin-top: 3px;
}

.rented-books {
  margin-top: 20px;
  margin-left: 20px;
}

.rented-books__text {
  color: #0c0c0e;
  font-family: "Inter";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.rented-books__list {
  margin-top: 20px;
  height: 62px;
  overflow: auto;
}

.rented-books__list::-webkit-scrollbar {
  width: 5px;
  background-color: #e9e9e7;
}

.rented-books__list::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
}

.rented-books__item {
  margin-left: 30px;
  list-style: disc;
  color: #000;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 10px;
}

.profile-window__card-number {
  margin-left: 20px;
  position: absolute;
  bottom: 39px;
}

.profile-window__card-number__text {
  color: #0c0c0e;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.profile-window__card-number__number {
  margin-left: 10px;
  color: #bb945f;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.profile-window__card-number__copy-icon {
  margin-left: 10px;
}

#copy-icon {
  cursor: pointer;
  transition: all 0.3s;
}

#copy-icon:hover {
  opacity: 0.5;
  transition: all 0.3s;
}

#copy-icon:active {
  opacity: 0.7;
}

.welcome__wrapper {
  background: url("../../img/jpeg/85c1859f825ed82614b2036bc8be037f.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.welcome__inner {
  display: inline-block;
  max-width: 600px;
  height: 220px;
  margin: 220px 0 159px 0;
  color: #ffffff;
  text-transform: uppercase;
  background: #0c0c0e;
}

.welcome__title {
  margin: 35px 40px;
  max-width: 520px;
  height: 150px;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Forum", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.welcome__title span {
  display: block;
  margin-left: -9px;
  margin-top: -1px;
}

.welcome__overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 300px;
  background: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 100%);
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__wrapper {
  display: flex;
}

.visiblePart {
  padding: 20px 20px 0;
  max-width: 1440px;
  overflow: hidden;
}

.sausage {
  display: flex;
  gap: 25px;
  position: relative;
}

.slider__card {
  min-width: 450px;
}

@media (max-width: 1024px) {
  .about__text {
    padding: 0 20px;
    text-align: center;
    max-width: 728px;
  }
}
.slider-btn__wrapper {
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
}

.slider__button {
  position: relative;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  border-radius: 50px;
  cursor: pointer;
}

.slider__button::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background: #0c0c0e;
  top: 5px;
  right: 5px;
  transition: all 0.4s;
}

.slider__button:hover:before {
  background: #bb945f;
  transition: all 0.4s;
}

.slider-btn-active::before {
  background: #bb945f;
}

.slider__button:nth-child(4),
.slider__button:nth-child(5) {
  display: none;
}

@media (max-width: 1438px) {
  .visiblePart {
    position: relative;
    left: -10px;
    max-width: 470px;
  }
  .slider__button:nth-child(4),
  .slider__button:nth-child(5) {
    display: block;
  }
  .slider-btn__wrapper {
    margin-top: 20px;
  }
}
.slider__swap-left,
.slider__swap-right {
  width: 24px;
  height: 24px;
  display: none;
}

@media (max-width: 1438px) {
  .slider__wrapper {
    gap: 48px;
    align-items: center;
    justify-content: space-around;
  }
  .slider__swap-left {
    display: block;
    margin-top: 55px;
    opacity: 0.3;
  }
  .slider__swap-right {
    display: block;
    cursor: pointer;
    margin-top: 55px;
  }
  .slider__swap-left svg path,
  .slider__swap-right svg path {
    transition: all 0.5s;
  }
  .slider__swap-left:hover,
  .slider__swap-right:hover {
    opacity: 0.3;
    transition: all 0.5s;
  }
}
:root {
  --duration: 0.5s;
}

@keyframes move-left-1 {
  from {
    left: 0;
  }
  to {
    left: -475px;
  }
}
.transition-left-1 {
  animation-name: move-left-1;
  animation-duration: var(--duration);
}

.stepLeft_1 {
  left: -475px;
}

@keyframes move-left-2 {
  from {
    left: -475px;
  }
  to {
    left: -950px;
  }
}
.transition-left-2 {
  animation-name: move-left-2;
  animation-duration: var(--duration);
}

.stepLeft_2 {
  left: -950px;
}

@keyframes move-left-3 {
  from {
    left: -950px;
  }
  to {
    left: -1425px;
  }
}
.transition-left-3 {
  animation-name: move-left-3;
  animation-duration: var(--duration);
}

.stepLeft_3 {
  left: -1425px;
}

@keyframes move-left-4 {
  from {
    left: -1425px;
  }
  to {
    left: -1900px;
  }
}
.transition-left-4 {
  animation-name: move-left-4;
  animation-duration: var(--duration);
}

.stepLeft_4 {
  left: -1900px;
}

@keyframes move-left-5 {
  from {
    left: 0;
  }
  to {
    left: -950px;
  }
}
.transition-left-5 {
  animation-name: move-left-5;
  animation-duration: var(--duration);
}

.stepLeft_5 {
  left: -950px;
}

@keyframes move-left-6 {
  from {
    left: 0;
  }
  to {
    left: -1425px;
  }
}
.transition-left-6 {
  animation-name: move-left-6;
  animation-duration: var(--duration);
}

.stepLeft_6 {
  left: -1425px;
}

@keyframes move-left-7 {
  from {
    left: 0;
  }
  to {
    left: -1900px;
  }
}
.transition-left-7 {
  animation-name: move-left-7;
  animation-duration: var(--duration);
}

.stepLeft_7 {
  left: -1900px;
}

@keyframes move-left-8 {
  from {
    left: -475px;
  }
  to {
    left: -1425px;
  }
}
.transition-left-8 {
  animation-name: move-left-8;
  animation-duration: var(--duration);
}

.stepLeft_8 {
  left: -1425px;
}

@keyframes move-left-9 {
  from {
    left: -475px;
  }
  to {
    left: -1900px;
  }
}
.transition-left-9 {
  animation-name: move-left-9;
  animation-duration: var(--duration);
}

.stepLeft_9 {
  left: -1900px;
}

@keyframes move-left-10 {
  from {
    left: -950px;
  }
  to {
    left: -1900px;
  }
}
.transition-left-10 {
  animation-name: move-left-10;
  animation-duration: var(--duration);
}

.stepLeft_10 {
  left: -1900px;
}

@keyframes move-right-1 {
  from {
    left: -1900px;
  }
  to {
    left: -1425px;
  }
}
.transition-right-1 {
  animation-name: move-right-1;
  animation-duration: var(--duration);
}

.stepRight_1 {
  left: -1425px;
}

@keyframes move-right-2 {
  from {
    left: -1425px;
  }
  to {
    left: -950px;
  }
}
.transition-right-2 {
  animation-name: move-right-2;
  animation-duration: var(--duration);
}

.stepRight_2 {
  left: -950px;
}

@keyframes move-right-3 {
  from {
    left: -950px;
  }
  to {
    left: -475px;
  }
}
.transition-right-3 {
  animation-name: move-right-3;
  animation-duration: var(--duration);
}

.stepRight_3 {
  left: -475px;
}

@keyframes move-right-4 {
  from {
    left: -475px;
  }
  to {
    left: 0;
  }
}
.transition-right-4 {
  animation-name: move-right-4;
  animation-duration: var(--duration);
}

.stepRight_4 {
  left: 0;
}

@keyframes move-right-5 {
  from {
    left: -1900px;
  }
  to {
    left: -950px;
  }
}
.transition-right-5 {
  animation-name: move-right-5;
  animation-duration: var(--duration);
}

.stepRight_5 {
  left: -950px;
}

@keyframes move-right-6 {
  from {
    left: -1900px;
  }
  to {
    left: -475px;
  }
}
.transition-right-6 {
  animation-name: move-right-6;
  animation-duration: var(--duration);
}

.stepRight_6 {
  left: -475px;
}

@keyframes move-right-7 {
  from {
    left: -1900px;
  }
  to {
    left: 0;
  }
}
.transition-right-7 {
  animation-name: move-right-7;
  animation-duration: var(--duration);
}

.stepRight_7 {
  left: 0;
}

@keyframes move-right-8 {
  from {
    left: -1425px;
  }
  to {
    left: -475px;
  }
}
.transition-right-8 {
  animation-name: move-right-8;
  animation-duration: var(--duration);
}

.stepRight_8 {
  left: -475px;
}

@keyframes move-right-9 {
  from {
    left: -1425px;
  }
  to {
    left: 0;
  }
}
.transition-right-9 {
  animation-name: move-right-9;
  animation-duration: var(--duration);
}

.stepRight_9 {
  left: 0;
}

@keyframes move-right-10 {
  from {
    left: -950px;
  }
  to {
    left: 0;
  }
}
.transition-right-10 {
  animation-name: move-right-10;
  animation-duration: var(--duration);
}

.stepRight_10 {
  left: 0;
}

.pointer-default {
  cursor: default;
}

.arrow-opacity {
  opacity: 0.3;
}

.pointer-active {
  cursor: pointer;
}

.arrow-opacity-active {
  opacity: 1;
}

.favorites__wrapper .section__title::after {
  right: 35%;
}

.favorites__wrapper {
  margin-bottom: 40px;
}

.favorites-title__wrapper {
  display: flex;
  justify-content: center;
}

.favorites__season {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .favorites__season {
    position: sticky;
    top: 0px;
    background: #fff;
    z-index: 100;
  }
  body {
    overflow-x: visible;
  }
}
.input__wrapper {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  max-width: 724px;
  margin-top: 36px;
  margin-left: -5px;
}

@media (max-width: 760px) {
  .input__wrapper {
    gap: 35px;
  }
}
.season-label {
  padding: 5px 5px 5px 15px;
  cursor: pointer;
  transition: all 0.4s;
  width: 136px;
}

.season-label:hover {
  color: #bb945f;
  transition: all 0.4s;
}

.input-circle {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.selected {
  font-weight: 700;
}

.input__text {
  position: relative;
  left: -5px;
  margin-left: 33px;
}

.input__text::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50px;
  border: solid 2px #000000;
  left: -38px;
  top: 6px;
  transition: all 0.4s;
}

.season-label:hover > .input__text::before {
  border-color: #bb945f;
  transition: all 0.4s;
}

.input__text::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background: #000000;
  left: -33px;
  top: 11px;
  opacity: 0;
  transition: all 0.4s;
}

.season-label:hover > .input__text::after {
  background: #bb945f;
  transition: all 0.4s;
}

.input-circle:checked + .input__text::after {
  opacity: 1;
}

.favorites__list {
  padding: 35px 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}

@media (max-width: 1250px) {
  .favorites__list {
    flex-direction: column;
    align-items: center;
  }
}
.card__wrapper {
  width: 590px;
}

.favorites__card {
  border: solid 1px #000000;
  width: 550px;
  height: 555px;
  padding: 15px 0 0 20px;
  position: relative;
}

.favorites__picks {
  font-family: "Forum", sans-serif;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
}

.favorites__picks::after {
  position: absolute;
  content: "\1\1\1\1\1\1\1\1";
  border-bottom: solid 1px #bb945f;
  left: 0;
}

.favorites__title {
  margin-top: 20px;
  text-transform: uppercase;
}

.favorites__title,
.favorites__author {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
}

.favorites__description {
  margin-top: 20px;
  max-width: 355px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.favorites__img {
  position: absolute;
  left: 71%;
  top: 46%;
  width: 200px;
  height: 300px;
}

.favorites__btn {
  font-family: "Inter", sans-serif;
  padding: 9px 26px 7px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background: white;
  color: #0c0c0e;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  position: absolute;
  top: 510px;
  transition: all 0.5s;
}

.favorites__btn:hover {
  border: 1px solid #bb945f;
  background: #bb945f;
  transition: all 0.5s;
}

.own {
  border: 1px solid #bb945f;
  color: #bb945f;
  width: 75px;
  cursor: auto;
}

.own:hover {
  background: white;
}

.summer {
  position: relative;
  left: -10px;
}

@media (max-width: 680px) {
  .input__text::before {
    left: -28px;
  }
  .input__text::after {
    left: -23px;
  }
  .season-label {
    max-width: 136px;
  }
  .input__wrapper {
    gap: 15px;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  animation: fadeOut ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn ease 1s;
}

.coffee__wrapper {
  padding: 0 20px;
}

.coffee__wrapper .section__title::after {
  right: 38%;
}

.coffee__text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
}

@media (max-width: 769px) {
  .coffee__text {
    width: 729px;
    padding: 0;
  }
}
@media (max-width: 766px) {
  .coffee__text {
    max-width: 100%;
  }
}
.coffee__drink,
.coffee__deserts {
  width: 438px;
}

.coffee__price {
  margin-top: 42px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.price__title {
  color: #bb945f;
  font-family: "Forum", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.price__item {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 40px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.price__line {
  display: inline-block;
  content: "";
  width: 100px;
  height: 1px;
  background: #bb945f;
  position: absolute;
  top: 50%;
  left: 258px;
}

.price__price {
  font-family: "Forum", sans-serif;
}

.coffee__deserts {
  width: 482px;
  text-align: right;
}

.right-column {
  width: 233px;
}

.coffee__deserts .price__line {
  left: 291px;
}

@media (max-width: 1024px) {
  .coffee__price {
    flex-direction: column;
    align-items: end;
    row-gap: 40px;
  }
  .coffee__drink {
    align-self: flex-start;
  }
}
.contacts__wrapper .section__title::after {
  right: calc(50% - 25px);
}

.contacts__inner {
  padding: 0 20px 40px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1240px) {
  .contacts__inner {
    flex-direction: column;
    row-gap: 80px;
  }
  .contacts__right {
    align-self: center;
  }
}
.contacts__text,
.contacts__text-strong {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.contacts__text-strong {
  font-weight: 700;
}

.contacts__phones {
  margin: 40px 0;
}

.tel,
.mail {
  transition: all 0.4s;
}

.tel:hover {
  color: #8E8E8E;
  transition: all 0.4s;
}

.mail:hover {
  color: #8E8E8E;
  transition: all 0.4s;
}

.libraryCard__wrapper {
  margin: 0 20px 41.5px;
}

.libraryCard__wrapper .section__title::after {
  right: calc(50% - 25px);
}

.libraryCard__title-left {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-left: 138px;
  margin-top: 2px;
}

.form__wrapper {
  border: solid 3px #bb945f;
  width: 600px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.libraryCard__form {
  display: flex;
  flex-direction: column;
  margin: 18px;
  margin-bottom: 0;
  background: #bb945f;
  padding: 20px 20px 25px;
}

.input__row {
  height: 66px;
  border-radius: 10px;
  margin-top: 20px;
}

.input__row-bottom {
  border-radius: 10px;
  margin-top: 25px;
  height: 66px;
}

.form__title {
  color: #000;
  font-family: "Forum", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

input {
  font-family: "Forum", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  padding-left: 20px;
}

.input__row-bottom::-moz-placeholder, .input__row::-moz-placeholder {
  color: #8e8e8e;
}

.input__row-bottom::placeholder,
.input__row::placeholder {
  color: #8e8e8e;
}

.form__btn {
  margin: 20px 179px 25px;
  padding: 10px 40px;
  color: #0c0c0e;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  width: 242px;
  position: relative;
  right: 3px;
  transition: all 0.5s;
}

.libraryCard__inner {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1140px) {
  .libraryCard__inner_right {
    margin-left: 20px;
  }
}
.libraryCard__inner_right {
  width: 456px;
  text-align: right;
}

.libraryCard__title-right {
  color: #000;
  font-family: "Forum", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 35px;
}

.libraryCard__text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
  margin-bottom: 30px;
}

.library__btn {
  margin-left: 15px;
  padding: 10px 0 8px;
  width: 75px;
  color: #0c0c0e;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background: #fff;
  transition: all 0.5s;
}

@media (max-width: 1024px) {
  .libraryCard__inner {
    flex-direction: column;
    align-items: center;
    row-gap: 21px;
  }
  .libraryCard__inner_right {
    margin-left: 0;
  }
  .libraryCard__inner_right {
    text-align: center;
    width: 600px;
  }
  .libraryCard__text {
    padding-top: 5px;
  }
  .libraryCard__btnWrapper {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: center;
  }
  .library__btn {
    margin-left: 0;
    margin-top: 9px;
  }
}
.library__btn:hover,
.form__btn:hover {
  background: #bb945f;
  border: 1px solid #bb945f;
  transition: all 0.5s;
}

.footer {
  background: #ffffff;
}

.footer__wrapper {
  background: #0c0c0e;
  color: #fff;
  padding: 20px 20px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ffffff;
}

.footer__address,
.footer__schedule {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer__address {
  width: 229px;
}

.footer__schedule {
  width: 149px;
  margin-bottom: 10px;
}

.footer__icons {
  margin-top: 16px;
  margin-bottom: 23px;
  width: 102px;
  display: flex;
  justify-content: space-between;
}

.footer__right {
  text-align: right;
}

.footer__bottom {
  padding: 35px 0 36px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.footer__text {
  transition: all 0.5s;
}

.footer__text:hover {
  filter: invert(50%) sepia(100%);
}

.footer__bottom > a {
  transition: all 0.5s;
}

.footer__bottom > a:hover {
  filter: invert(50%) sepia(100%);
}

.icon__item a {
  transition: all 0.5s;
}

.icon__item a:hover {
  filter: invert(50%) sepia(100%);
}

.footer__bottom > p + a {
  position: relative;
  left: 52px;
}

@media (max-width: 780px) {
  .footer__bottom > p + a {
    left: 25px;
    bottom: 1px;
  }
}
@media (max-width: 760px) {
  .footer__bottom > p + a {
    position: static;
  }
}