.about__wrapper {
  //margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__wrapper {
  padding: 20px 20px 0;
  display: flex;
  gap: 25px;
}

@media (max-width: 1024px) {
  .about__text {
  padding: 0 20px;
   text-align: center;
   max-width: 728px;
  }
}

.slider-btn__wrapper {
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
}

.slider__button {
  position: relative;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  border-radius: 50px;

  cursor: pointer;
}


.slider__button::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background: #0c0c0e;
  top: 5px;
  right: 5px;
  transition: all 0.4s;
}

.slider__button:hover:before {
  background: #bb945f;
  transition: all 0.4s;
}

.slider-btn-active::before {
  background: #bb945f;
}

.slider__button:nth-child(4),
.slider__button:nth-child(5) {
  display: none;
}

@media (max-width: 800px) {
  .slider__card:nth-child(2),
  .slider__card:nth-child(3) {
    display: none;
  }

 .slider__button:nth-child(4),
 .slider__button:nth-child(5) {
  display: block;
}

.slider-btn__wrapper {
  margin-top: 20px;
}
}
