.favorites__wrapper .section__title::after {
  right: 35%;
}

.favorites__wrapper {
  margin-bottom: 40px;
}

.favorites-title__wrapper {
  display: flex;
  justify-content: center;
}

.favorites__season {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .favorites__season {
    position: sticky;
    top: 0px;
    background: #fff;

    z-index: 100;
  }

  body {
    overflow-x: visible;
  }
}

.input__wrapper {
  font-weight: 400;
  display: flex;
  // gap: 75px;
  justify-content: space-between; ////
  max-width: 724px; /////
  margin-top: 36px;
  margin-left: -5px;
}

@media (max-width: 760px) {
  .input__wrapper {
    gap: 35px;
  }
}

/////////---

.season-label {
  padding: 5px 5px 5px 15px;
  cursor: pointer;
  transition: all 0.4s;
  width: 136px;
}

.season-label:hover {
  color: #bb945f;
  transition: all 0.4s;
}

.input-circle {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.selected {
  font-weight: 700;
}

.input__text {
  position: relative;
  left: -5px;
  margin-left: 33px;
}

.input__text::before {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  border-radius: 50px;
  border: solid 2px #000000;
  left: -38px;
  top: 6px;
  transition: all 0.4s;
}

.season-label:hover > .input__text::before {
  border-color: #bb945f;
  transition: all 0.4s;
}

.input__text::after {
  position: absolute;
  content: '';

  width: 7px;
  height: 7px;
  border-radius: 50px;
  background: #000000;
  left: -33px;
  top: 11px;
  opacity: 0;
  transition: all 0.4s;
}

.season-label:hover > .input__text::after {
  background: #bb945f;
  transition: all 0.4s;
}

.input-circle:checked + .input__text::after {
  opacity: 1;
}

.favorites__list {
  padding: 35px 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}

@media (max-width: 1250px) {
  .favorites__list {
    flex-direction: column;
    align-items: center;
  }
}

.card__wrapper {
  width: 590px;
}

.favorites__card {
  border: solid 1px #000000;
  width: 550px;
  height: 555px;
  padding: 15px 0 0 20px;
  position: relative;
}

.favorites__picks {
  font-family: 'Forum', sans-serif;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
}

.favorites__picks::after {
  position: absolute;
  content: '\1\1\1\1\1\1\1\1';
  border-bottom: solid 1px #bb945f;
  left: 0;
}

.favorites__title {
  margin-top: 20px;
  text-transform: uppercase;
}

.favorites__title,
.favorites__author {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
}

.favorites__description {
  margin-top: 20px;
  max-width: 355px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.favorites__img {
  position: absolute;
  left: 71%;
  top: 46%;
  width: 200px;
  height: 300px;
}

.favorites__btn {
  font-family: 'Inter', sans-serif;
  padding: 9px 26px 7px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background: white;
  color: #0c0c0e;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  position: absolute;
  top: 510px;
  transition: all 0.5s;
}

.favorites__btn:hover {
  border: 1px solid #bb945f;
  background: #bb945f;
  transition: all 0.5s;
}

.own {
  border: 1px solid #bb945f;
  color: #bb945f;
  width: 75px;
  cursor: auto;
}

.own:hover {
  background: white;
}

.summer {
  position: relative;
  left: -10px;
}

@media (max-width: 680px) {
  .input__text::before {
    left: -28px;
  }

  .input__text::after {
    left: -23px;
  }

  .season-label {
    max-width: 136px;
  }
  .input__wrapper {
    gap: 15px;
  }
}

////////////////////////////
///
///

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease 1s;
}
