.header {
  background: #ffffff;
}

.header__wrapper {
  background: #0c0c0e;
  color: #ffffff;
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.header__title {
  width: 45%;
}

.header__subwrapper {
  width: 100%;
  display: flex;
}

.header__title {
  font-family: 'Forum', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.menu {
  width: 100%;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 42px;
}

// @media (max-width: 1024px) {

// .menu__list {
//   gap:unset;
//   justify-content: space-between;
//   margin-left: 5px;
//   }

// .menu__link {
//   margin-left: 5px;
// }


// }

.header__img {
  margin-top: 11px;
}

.menu__link {
  position: relative;
}

.menu__link::after {
  position: absolute;
  content: '';
  left: 0;
  top: 110%;
  display: block;
  height: 1.5px;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  width: 0;
}

.menu__link:hover:after {
  width: 100%;
}

.header__icon {
  cursor: pointer;
  transition: all 0.5s;
}

.header__icon:hover {
  filter: invert(50%) sepia(100%);
}
