.header {
  background: #ffffff;
}

.header__wrapper {
  background: #0c0c0e;
  color: #ffffff;
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.header__title {
  width: 45%;
}

.header__subwrapper {
  width: 100%;
  display: flex;
}

.header__title {
  font-family: 'Forum', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.menu {
  width: 100%;
  position: relative;
  z-index: 80;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 42px;
}

.burger {
  display: none;
}

@media (max-width: 1024px) {
  .burger {
    display: block;
    width: 45px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 40px;
    z-index: 200;
  }

  .burger span {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffff;
    margin-top: 10px;
    transition: all 1s;
  }

  .burger span:nth-child(1) {
    top: -10px;
  }

  .burger span:nth-child(3) {
    top: 10px;
  }

  .burger.burger-active span:nth-child(2) {
    top: 5px;
    transform: rotate(225deg);
    transition: all 1s;
  }

  .burger.burger-active span:nth-child(1) {
    top: 5px;
    transform: rotate(225deg);
    transition: all 1s;
  }

  .burger.burger-active span:nth-child(3) {
    top: 5px;
    transform: rotate(315deg);
    transition: all 1s;
  }

  .burger-active {
    height: 32px;
    bottom: 5px;
  }

  .menu {
    position: fixed;
    right: -1240px;
    z-index: 100;
    transition: all 1s;
    margin-top: -20px;
    width: 332px;
    height: 570px;
    background: #0c0c0e;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-active {
    right: 0;
  }

  .menu__list {
    position: absolute;
    flex-direction: column;
    margin-right: 7px;
    text-align: center;
  }

  .header__subwrapper {
    justify-content: flex-end;
  }
}

.header__img {
  margin-top: 11px;
  position: relative;
  z-index: 200;
}

.menu__link {
  position: relative;
}

.menu__link::after {
  position: absolute;
  content: '';
  left: 0;
  top: 110%;
  display: block;
  height: 1.5px;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  width: 0;
}

.menu__link:hover:after {
  width: 100%;
}

.header__icon {
  cursor: pointer;
  transition: all 0.5s;
}

.header__icon:hover {
  filter: invert(50%) sepia(100%);
}

//DROP-MENU

.header__iconWrapper {
  position: relative;
}

.header__dropMenu {
  position: absolute;
  width: 80px;
  height: 115px;
  background: #fff;
  z-index: 100;
  right: 0;
  top: 40px;
  display: none;
  color: #000;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.dropMenu__title {
  padding: 5px 16px 0;
}

.dropMenu__line {
  margin: 5px 20px 0;
  width: 40px;
  height: 1px;
  background: #bb945f;
}

.dropMenu__textUp {
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.dropMenu__textDown {
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.dropMenu__textUp:hover,
.dropMenu__textDown:hover {
  color: #8e8e8e;
  transition: all 0.3s;
}

//DROP-MENU END

//REG WINDOW

.regWindow {
  width: 250px;
  height: 382px;
  //border: 1px dotted black;
  background: #fff;
  //
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
}

.regWindow-active {
  display: block;
}

.reg__input {
  border: 1px solid #bb945f;
  width: 200px;
  height: 20px;
  margin-top: 10px;
  //margin-left: 25px;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.reg__input:invalid {
  opacity: 0.5;
  //x color: tomato;
}

.reg__text {
  margin-left: 25px;
  color: #000;

  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.reg__text:first-child {
  margin-top: 20px;
}

.reg__text {
  margin-top: 10px;
}

.reg__title {
  color: #000;
  margin-left: 85px;
  font-family: 'Forum', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  margin-top: 20px;
}

.reg__btn {
  background: #fff;
  color: #0c0c0e;
  text-align: center;
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  width: 75px;
  height: 30px;
  padding: 0;
  margin-left: 25px;
  margin-top: 21px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  transition: all 0.3s;
}

.reg__btn:hover {
  background: #bb945f;
  transition: 0.3s;
  border-color: #bb945f;
}

.reg__footer {
  color: #000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 25px;
  margin-top: 10px;
}

.reg__footer span {
  color: #0c0c0e;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration-line: underline;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s;
}

.reg__footer span:hover {
  color: #8e8e8e;
  transition: all 0.3s;
}

.reg__closeIcon {
  position: relative;
  cursor: pointer;
  left: 46px;
  bottom: 7px;
  transition: all 0.3s;
}

.reg__closeIcon:hover {
  opacity: 0.5;
  transition: all 0.3s;
}

.blackout {
  background: rgba(5, 5, 5, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.6s;
  z-index: 250;
  opacity: 0;
  //
}

.blackout_active {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.icon_profile-afterAuth {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  color: #bb945f;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 22px;
}

//DROP-MENU AUTH

.header__dropMenuAuth {
  position: absolute;
  width: 80px;
  height: 115px;
  background: #fff;
  z-index: 100;
  right: 0;
  top: 40px;
  display: none;
  color: #000;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.dropMenuAuth__title {
  padding: 5px 0px 0;
  font-size: 12px;
  text-align: center;
}

.dropMenu__line {
  margin: 5px 20px 0;
  width: 40px;
  height: 1px;
  background: #bb945f;
}

.dropMenuAuth__textUp {
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.dropMenuAuth__textDown {
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.dropMenuAuth__textUp:hover,
.dropMenuAuth__textDown:hover {
  color: #8e8e8e;
  transition: all 0.3s;
}

//DROP-MENU AUTH END

@keyframes dropMenu-visible {
  0% {
    // width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    // width: 80px;
    height: 115px;
    opacity: 1;
  }
}

.dropVisible {
  animation: dropMenu-visible ease 0.3s;
  display: block;
}

@keyframes dropMenu-hidden {
  0% {
    //width: 80px;
    height: 115px;
    opacity: 1;
  }
  100% {
    // width: 0;
    height: 0;
    opacity: 0;
  }
}

.dropHidden {
  animation: dropMenu-hidden ease 0.3s;
}

//-----MY PROFILE WINDOW----//
.profile-window {
  width: 600px;
  height: 400px;
  background: #fff;
  z-index: 100;

  //
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
}

.profile-window-active {
  display: flex;
}

.profile-window__left {
  background: #0c0c0e;
  min-width: 170px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rectangle-initials {
  width: 80px;
  height: 80px;
  background: #fff;
  margin-top: 139px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-initials__text {
  color: #bb945f;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.rectangle-name {
  width: 120px;
  min-height: 30px;
  background: #fff;
  margin-top: 15px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.rectangle-name__text {
  color: #000;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
}

.profile-window__right {
  width: 100%;
  height: 100%;
}

.profile-window__title {
  color: #000;

  font-family: 'Forum';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 20px;
}

.profile-window__closeIcon {
  margin-left: 150px;
  position: relative;
  bottom: 16px;
}

.profile-window__closeIcon__img {
  cursor: pointer;
  transition: all 0.3s;
}

.profile-window__closeIcon__img:hover {
  opacity: 0.5;
  transition: all 0.3s;
}

.profile-window__icon-box {
  margin-top: 40px;
  margin-left: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile-window__iconBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-box__text {
  color: #000;
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.icon-box__visits__count,
.icon-box__bonuses__count,
.icon-box__books__count {
  color: #000;
  text-align: center;
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-top: -1px;
}

.icon-box__icon {
  margin-top: 3px;
}

.rented-books {
  margin-top: 20px;
  margin-left: 20px;
}

.rented-books__text {
  color: #0c0c0e;

  font-family: 'Inter';
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.rented-books__list {
  margin-top: 20px;
  height: 62px;
  overflow: auto;
}

.rented-books__list::-webkit-scrollbar {
  width: 5px;
  background-color: #d3d3d1;
}

.rented-books__list::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
}

.rented-books__item {
  margin-left: 30px;
  list-style: disc;
  color: #000;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 10px;
}

.profile-window__card-number {
  margin-left: 20px;
  position: absolute;
  bottom: 39px;
}

.profile-window__card-number__text {
  color: #0c0c0e;
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.profile-window__card-number__number {
  margin-left: 10px;
  color: #bb945f;
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.profile-window__card-number__copy-icon {
  margin-left: 10px;
}

#copy-icon {
  cursor: pointer;
  transition: all 0.3s;
}

#copy-icon:hover {
  opacity: 0.5;
  transition: all 0.3s;
}

#copy-icon:active {
  opacity: 0.7;
}
//-----MY PROFILE WINDOW END----//

//-----LOG IN WINDOW-----//

.LogInWindow {
  width: 250px;
  height: 262px;
  background: #fff;
  position: fixed;
  z-index: 300;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.logIn-active {
  display: block;
}

.login__input {
  border: 1px solid #bb945f;
  width: 200px;
  height: 20px;
  margin-top: 10px;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.login__input:invalid {
  opacity: 0.5;
}

.login__text {
  margin-left: 25px;
  color: #000;

  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.login__btn {
  background: #fff;
  color: #0c0c0e;
  text-align: center;
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  width: 75px;
  height: 30px;
  padding: 0;
  margin-left: 24px;
  margin-top: 20px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  transition: all 0.3s;
}

.login__btn:hover {
  background: #bb945f;
  transition: 0.3s;
  border-color: #bb945f;
}

.login__footer {
  color: #000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 25px;
  margin-top: 10px;
}

.login__footer span {
  color: #0c0c0e;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration-line: underline;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s;
}

.login__footer span:hover {
  color: #8e8e8e;
  transition: all 0.3s;
}

.login__closeIcon {
  position: relative;
  cursor: pointer;
  left: 60px;
  bottom: 7px;
  transition: all 0.3s;
}

.login__closeIcon:hover {
  opacity: 0.5;
  transition: all 0.3s;
}

.login__title {
  color: #000;
  margin-left: 95px;
  font-family: 'Forum', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  margin-top: 20px;
}

.login__text:first-child {
  margin-top: 20px;
}

.login__text {
  margin-top: 10px;
}
//-----LOG IN WINDOW END-----//
