.header {
  background: #0c0c0e;
}

.header__wrapper {
  background: #0c0c0e;
  color: #ffffff;
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.header__title {
  width: 45%;
}

.header__subwrapper {
  width: 100%;
  display: flex;
}

.header__title {
  font-family: 'Forum', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.menu {
  width: 100%;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 42px;
}

.header__img {
  margin-top: 11px;
}

.menu__link:hover {
  border-bottom: solid 2px #ffffff;
}

.header__icon {
  cursor: pointer;
}
